<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery|Coffee Shop</title>
    <link rel="stylesheet" href="../css/delivery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="settings">
            <a href="https:www.example.com" class="arrow"><i class="fa-solid fa-angle-left"></i></a>
            <button class="configuration"><i class="fa-solid fa-location-crosshairs"></i></button>
        </div>
    </header>
    <main>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1230.4986305037835!2d-73.1265238330243!3d7.061105734601302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683f18ef59f9a1%3A0xffbf118f3e8f20c!2sZona%20Franca%20Santander!5e0!3m2!1ses-419!2sco!4v1740592399548!5m2!1ses-419!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   

    </main>
    <footer>
        <button class="line"></button>
        <p class="minutes">10 minutes left</p>
        <div class="usuary">
            <p class="delivery">Delivery to</p>
            <p class="client">Zona Franca Santander</p>
        </div>    
        <div class="lines">
            <p class="green"></p>
            <p class="green"></p>
            <p class="green"></p>
            <p class="grey"></p>
        </div>
        <div class="order">
            <div class="order-box">
                <div class="motorbike">
                    <img src="../stora/img/motorbike.png" alt="">
                </div>
                <div class="delivered">
                    <p class="delivered-order">Delivered your order</p>
                    <p class="information">We will deliver your goods to you in
                        the shortes possible time.</p>
                </div>
            </div>
        </div>
        <div class="domiciliary">
            <div class="domiciliary-box">
                <div class="box">
                <img src="../stora/img/men.png" alt="">
                <div class="box-text">
                    <p class="name">Brooklyn Simmons</p>
                    <p class="work">Personal Courier</p>
                </div>
                </div>
            <button class="phone"><img src="../stora/img/phone.png" alt=""></button>   
            </div>
        </div>
    </footer>
</body>
