<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffe shop mobile</title>
    <link rel="stylesheet" href="../css/detail-item.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="../stora/img/Icon (1).png" alt="Back" class="back-icon">
            <h2>Detail</h2>
            <img src="../stora/img/Heart.png" alt="Favorite" class="heart-icon">
        </header>

        <div class="image_container">
            <img src="../stora/img/2.png" 
alt="Caffe Mocha">
        </div>

        <div class="content">
                <h1>Caffe Mocha</h1>
                <p class="subtitle">Ice/Hot</p>

                <div class="rating">
                    <img src="../stora/img/Rating.png" alt="Star Rating" class="star-icon">
                    <span class="rating-value">4.8</span>
                    <span class="reviews">(230)</span>
                </div>
<div class="icons">
                    <img src="../stora/img/Fast Delivery.png" alt="Fast Delivery" class="icon-item1"><br>
                    <img src="../stora/img/Quality Bean.png" alt="Extra Milk" class="icon-item2"><br>
                    <img src="../stora/img/Extra Milk.png" alt="Quality Bean" class="icon-item3">
                </div>
                <hr class="linea">
                <p class="description_title">Description</p>
                <p class="description_text">
                    A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee and 
                    85ml of fresh milk the fo.. <a class="Read_More" href="#">Read More</a>
                </p>

                <div class="size">
                    <h3>Size</h3>
                    <div class="size-options">
                        <button class="size-btn">S</button>
                        <button class="size-btn active">M</button>
                        <button class="size-btn">L</button>
                    </div>
                </div>

                <div class="footer">
                    <div class="price_container">
                        <p class="price_label">Price</p>
                    <p class="price_value">$ 4.53</p>
                    </div>
                    <button class="buy_btn">Buy Now</button>
                </div>

        </div>
    </div>
</body>
</html>