<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffe shop mobile</title>
    <link rel="stylesheet" href="../css/detail-item.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="../stora/img/Icon (1).png" alt="Back" class="icon">
            <h2>Detail</h2>
            <img src="../stora/img/Heart.png" alt="Favorite" class="icon">
        </header>

        <div class="image-container">
            <img src="../stora/img/2.png" alt="Caffe Mocha">
        </div>