<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffe shop mobile</title>
    <link rel="stylesheet" href="../css/detail-item.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="../stora/img/Icon (1).png" alt="Back" class="icon">
            <h2>Detail</h2>
            <img src="../stora/img/Heart.png" alt="Favorite" class="icon">
        </header>

        <div class="image-container">
            <img src="../stora/img/2.png" alt="Caffe Mocha">
        </div>

        <div class="content">
            <h1>Caffe Mocha</h1>
            <p class="subtitle">Ice/Hot</p>

            <div class="rating">
                <img src="../stora/img/Rating.png" alt="Star Rating" class="star-icon">
                <span class="rating-value">4.8</span>
                <span class="reviews">(230)</span>
            </div>

            <div class="icons">
                <img src="../stora/img/Fast Delivery.png" alt="Fast Delivery" class="icon-item">
                <img src="../stora/img/Extra Milk.png" alt="Extra Milk" class="icon-item">
                <img src="../stora/img/Quality Bean.png" alt="Quality Bean" class="icon-item">
            </div>

            <p class="description_p1">
                Description
            </p>

            <p class="description_p2">
                A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee and 
                85ml of fresh milk the fo.. <a href="#">Read More</a>
            </p>