<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee App</title>
    <link rel="stylesheet" href="../scr/css/home.css">
</head>
<body>
        <header class="contenedoor">
            <div class="header">
                <div class="location">
                    <p>Location</p>
                    <h2>Bilzen, Tanjungbalai <img src="src/stora/img/Icon (1).png" alt="pestaña" id="pestaña"></h2>
                </div>
                <div class="search-container">
                    <div class="search-box">
                        <img src="src/stora/img/Search.png" alt="Search">
                        <input type="text" placeholder="Search coffee">
                    </div>
                    <button class="filter-btn">
                        <img src="src/stora/img/Group 10.png" alt="Filter">
                      </button>
                </div>
        </header>    
            <section class="promo">
                <span class="promo-badge">Promo</span> <img class="Line1" src="src/stora/img/Line.png" alt="Line1"><img class="Line2" src="src/stora/img/Line (1).png" alt="Line2">
                <div class="promo-content">
                    <h3 id="buy_promo">
                        Buy one get <br>
                        one FREE
                        <div class="Lines">
                    </h3>       
                </div>
            </section>

    <nav class="categories">
        <button class="active">All Coffee</button>
        <button>Macchiato</button>
        <button>Latte</button>
        <button>Americano</button>
    </nav>

    <section class="coffee-list">
        <div class="coffee-card">
            <a href="youtube.com"><img src="src/stora/img/2.png" alt="Caffe Mocha"></a>
            <div class="coffee-info">
                <h4>Caffe Mocha</h4>
                <p>Deep Foam</p>
                <div class="price">
                    <span>$4.53</span>
                    <button>+</button>
                    <div class="rating">
                        <span class="star"><img src="src/stora/img/Rating.png" alt=""></span>
                        <span class="score">4.8</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="coffee-card">
            <img src="src/stora/img/3.png" alt="Flat White">
            <div class="coffee-info">
                <h4>Flat White</h4>
                <p>Espresso</p>
                <div class="price">
                    <span>$3.53</span>
                    <button>+</button>
                    <div class="rating">
                        <span class="star"><img src="src/stora/img/Rating.png" alt=""></span>
                        <span class="score">4.8</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="coffee-list2">
        <div class="coffee-card">
            <img src="src/stora/img/5.png" alt="Caffe Mocha">
            <div class="coffee-info">
                <h4>Mocha Fusi</h4>
                <p>Ice/Hot</p>
                <div class="price">
                    <span>$7.53</span>
                    <button>+</button>
                    <div class="rating">
                        <span class="star"><img src="src/stora/img/Rating.png" alt=""></span>
                        <span class="score">4.8</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="coffee-card">
            <img src="src/stora/img/4.png" alt="Flat White">
            <div class="coffee-info">
                <h4>Caffe Panna</h4>
                <p>Ice/Hot</p>
                <div class="price">
                    <span>$5.53</span>
                    <button>+</button>
                    <div class="rating">
                        <span class="star"><img src="src/stora/img/Rating.png" alt=""></span>
                        <span class="score">4.8</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <nav>
            <button><img src="src/stora/img/Home.png" alt=""></button>
            <button><img src="src/stora/img/Heart.png" alt=""></button>
            <button><img src="src/stora/img/Bag.png" alt=""></button>
            <button><img src="src/stora/img/Icon.png" alt=""></button>
        </nav>
    </footer>
</body>
</html>
