<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../css/Order.css">
</head>
<body>
    <div class="tittle">
        <a href="https://www.example.com" class="atras">
            <img src="../stora/img/Icon (1).png" >
        </a>
        <h1>Order</h1>
    </div>
    <div class="delivery-container">
        <a href="https://www.example.com" class="delivery-option selected">Deliver</a>
        <a href="https://www.example.com" class="delivery-option">Pick Up</a>
    </div>
    
    <div class="info">
        <h1>Delivery Address</h1>
        <h2>Jl. Kpg Sutoyo</h2>
        <h3>Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</h3>
        <div class="edit">
            <a href="https://www.example.com" class="btn-edit1">
                <img src="../stora/img/Edit.png">
                Deliver
            </a>
            <a href="https://www.example.com" class="btn-edit1">
                <img src="../stora/img/Note.png" >
                Add Note
            </a>
        </div>
    </div>
    <div style="width: calc(100% - 50px); height: 1px; background-color: #ccc; margin: 20px auto;"></div>
    <div class="order">
        <img src="../stora/img/2.png">
        <div clasd="text-order">
            <h1>Caffe Mocha</h1>
            <h3>Deep Foam</h3>
        </div>
        <div class="button-selection">
            <button class="mas">+</button>
            <p>1</p>
            <button class="menos">-</button>
        </div>
    </div>
    <div style=" width:100%; height: 4px; background-color: #F9F2ED; margin: 20px auto;"></div>
    <a href="https://www.example.com"  class="descuento">
        <img src="../stora/img/Discount.png">
        1 Discount is Applies
        <img src="../stora/img/Arrow - Right 2.png">
    </a>
    <div class="payment">
        <h1>Payment Summary</h1>
        <div class="label">Price</div>
        <span class="price">$ 4.53</span>
    </div>
    <div class="row payment">
        <span class="label">Delivery Fee</span>
        <span>
            <span clas="discount">$2.0</span> <span class="price">$1.0</span>
        </span>
    </div>
    <div class="Cash">
        <img src="../">
        <h1>Cash/Wallet</h1>
        <p>$ 5.53</p>
    </div>
    <a href="https://www.example.com" class="buttom order">Order</a>
</body>
</html>