<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../css/Order.css">
</head>
<body>
    <button>
        <img src="../stora/img/Icon (1).png" >
    </button>
    <h1>Order</h1>
    <div>
        <div class="buttons-up">
            <button>Deliver</button>
            <button>Pick up</button>
        </div>
    </div>
    <div class="info">
        <h1>Delivery Address</h1>
        <h2>Jl. Kpg Sutoyo</h2>
        <h3>Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</h3>
        <div class="edit">
            <button>
                <img src="../stora/img/Edit.png" >
                Edit Address
            </button>
            <button>
                <img src="../stora/img/Note.png" >
                Add Note
            </button>
        </div>
    </div>
    <div style="width: calc(100% - 50px); height: 1px; background-color: #ccc; margin: 20px auto;"></div>
    <div class="order">
        <img src="../stora/img/2.png">
        <div clasd="text-order">
            <h1>Caffe Mocha</h1>
            <h3>Caffe Mocha</h3>
        </div>
        <div class=""></div>

    </div>
</body>
</html>