<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../css/Order.css">
</head>
<body>
    <div class="tittle">
        <a href="detail-item.html" class="atras">
            <img src="../stora/img/Icon (1).png" >
        </a>
        <h1>Order</h1>
    </div>
    <div class="delivery-container">
        <a href="https://www.example.com" class="delivery-option selected">Deliver</a>
        <a href="https://www.example.com" class="delivery-option">Pick Up</a>
    </div>
    
    <div class="info">
        <h1>Delivery Address</h1>
        <h2>Jl. Kpg Sutoyo</h2>
        <h3>Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</h3>
        <div class="edit">
            <a href="https://www.example.com" class="btn-edit">
                <img src="../stora/img/Edit.png">
                Edit Address
            </a>
            <a href="https://www.example.com" class="btn-edit2">
                <img src="../stora/img/Note.png" >
                Add Note
            </a>
        </div>
    </div>
    <div style="width: calc(100% - 50px); height: 1px; background-color: #ccc; margin: 20px auto;"></div>
    <div class="order">
        <img src="../stora/img/2.png">
        <div class="text-order">
            <h1>Caffe Mocha</h1>
            <h3>Deep Foam</h3>
        </div>
        <div class="button-selection">
            <button class="counter-button">
                <img src="../stora/img/minuscircle.png">
            </button>
            <span class="counter-value">1</span>
            <button class="counter-button">
                <img src="../stora/img/pluscircle.png">
            </button>
        </div>
    </div>
    <div style=" width:100%; height: 4px; background-color: #F9F2ED; margin: 20px auto;"></div>
    <a href="https://www.example.com"  class="descuento">
        <img src="../stora/img/Discount.png">
        <p class="text"> Discount is Applies</p>
        <img src="../stora/img/Arrow - Right 2.png" class="img2">
    </a>
    <div class="payment-summary">
        <h1>Payment Summary</h1>
    
        <div class="row-payment">
            <span class="label">Price</span>
            <span class="price">$ 4.53</span>
        </div>
    
        <div class="row-payment">
            <span class="label">Delivery Fee</span>
            <span>
                <span class="discount">$2.0</span>
                <span class="price">$1.0</span>
            </span>
        </div>
    </div>    
    <div class="cash-container">
        <div class="cash-header">
            <img src="../stora/img/Wallet.png" class="wallet-icon">
            <div class="cash-info">
                <h1>Cash/Wallet</h1>
                <p class="amount">$ 5.53</p>
            </div>
            <img src="../stora/img/Stroke 1.png" class="dropdown-icon">
        </div>
        <a href="delivery.html" class="order-button">Order</a>
    </div>
    
</body>
</html>