@import url(variables.css);

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #F9F2ED; 
}

.container {
width: 90%;
max-width: 400px;
margin: 0px auto;
background: #F9F2ED; 
padding: 20px 0px;
}

header {
display: flex;
align-items: center;
justify-content: space-around;
position: relative;
font-family: "Sora-SemiBold";
padding-bottom: 30px; 
color: var(--color-7);
}

.icon {
width: 24px;
height: 24px;
cursor: pointer;
}

.back-icon {
    position: absolute;
    left: 20px
}

.heart-icon {
    position: absolute;
    right: 23px;
}

.image_container img {
display: block;
width: 100%;
margin: auto;
}
.content h1 {
font-size: 24px;
margin: 10px 0;
color: #313131; 
}

.subtitle {
color: #A2A2A2; 
font-size: 16px;
}

.rating {
display: flex;
align-items: center;
gap: 5px;
}

.star-icon {
width: 20px;
height: 20px;
}

.rating-value {
font-size: 18px;
font-weight: bold;
color: #313131; 
}

.reviews {
color: #A2A2A2; 
font-size: 14px;
}

.icons {
    display: flex;
    margin: -70px 0px 70px 0px;
    padding-left: 20px;
}

.icon-item1{
margin-left: 160px;
margin: 0px 5px 0px 160px;
}

.icon-item2{
    margin-left: 5px;
    margin: 0px 5px 0px 5px;
}
.icon-item3{
    margin-left: 5px;
    margin: 0px 5px 0px 5px;
}

.linea{
    display: flex;
    margin: 0; /* Quita márgenes si no lo necesitas */
    padding: 0;    
    display: flex;
    margin-top: -30px;
    margin: 10;
}

.description_title {
font-size: 16px;
font-weight: bold;
color: #313131; 
margin-top: 15px;
}

.description_text {
    font-size: 16px;
    color: #A2A2A2; 
    line-height: 1.5;
}
.Read_More{
    text-decoration: none;
    color: var(--color-1);
    font-weight: bold;
}

.size h3 {
margin: 15px 0 10px;
color: #313131; 
}

.size-options {
display: flex;

}

.size{
    margin: 0px 5px 0px 5px;
}
.size-btn {
padding: 10px 38px;
border: 1px solid #A2A2A2; 
background: #FFFFFF;
cursor: pointer;
border-radius: 12px;
color: #313131; 
align-items: center;
margin-left: 12px;
margin-right: 12px;
}

.size-btn.active {
background: #FFFFFF; 
color: #C67C4E;
border-color: #C67C4E; 
border-radius: 12px;
align-items: center;
}

.footer {
display: flex;
justify-content: space-between;
align-items: center;
 margin-top: 25px; 
}

hr {
    width: 90%;
}

.price_label {
font-size: 16px;
color: #A2A2A2; 
}

.price_value {
    margin-top: -10px;
    font-size: 18px;
    font-weight: bold;
    color: #C67C4E; 
}

.buy_btn {
    text-decoration: none;
background-color: #C67C4E; 
color: #FFFFFF; 
padding: 17px 60px;
border: none;
border-radius: 10px;
cursor: pointer;
font-weight: bold;
}

