:root{
    --color-1: #C67C4E;
    --color-2: #EDD6C8;
    --color-3: #313131;
    --color-4: #E3E3E3;
    --color-5: #F9F2ED;
    --color-6: #FFFFFF;
    --color-7: #242424;
    --color-8: #A2A2A2;
    --COLOR-9: #050505;
    --COLOR-10: #E8E8E8;
    --COLOR-11: #000000;
    --COLOR-12: #111111;
    --COLOR-13: #ED5151;
    --COLOR-14: #E8E8E8;
    --COLOR-15: #FBBE21;
    --COLOR-16: #2A2A2A;
    --COLOR-17: #767677;
    --COLOR-18: #EDEDED;
    --COLOR-19: #101010;
    --COLOR-20: #36C07E;
    
}

@font-face {
    font-family:"Sora-Bold" ;
    src: url(../stora/font/Sora/static/Sora-Bold.ttf);
}

@font-face {
    font-family:"Sora-ExtraBold" ;
    src: url(../stora/font/Sora/static/Sora-ExtraBold.ttf);
}

@font-face {
    font-family:"Sora-ExtraLight" ;
    src: url(../stora/font/Sora/static/Sora-ExtraLight.ttf);
}

@font-face {
    font-family:"Sora-Light" ;
    src: url(../stora/font/Sora/static/Sora-Light.ttf);
}

@font-face {
    font-family:"Sora-Medium" ;
    src: url(../stora/font/Sora/static/Sora-Medium.ttf);
}

@font-face {
    font-family:"Sora-Regular" ;
    src: url(../stora/font/Sora/static/Sora-Regular.ttf);
}

@font-face {
    font-family:"Sora-SemiBold" ;
    src: url(../stora/font/Sora/static/Sora-SemiBold.ttf);
}

@font-face {
    font-family:"Sora-Thin" ;
    src: url(../stora/font/Sora/static/Sora-Thin.ttf);
}